body{
    background-color:whitesmoke;
    margin: 0px;
  }

h1 {
    color: saddlebrown;
    margin-left: 1050px;
    padding: 5px;
    font-size: 90px;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    }


h2 {
    margin-left: 180px;
    font-size: 30px;
    color: saddlebrown;

}

p {
    color:darkolivegreen;
    padding: 30px;
    margin-left: 150px;
    margin-right: 1000px;
    text-align: left;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

p2 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color:darkolivegreen;
    padding: 30px;
    margin-left: 150px;
    text-align: left;
}

img {
    margin-left: 130px;
    padding: 45px;
}
#norm{
    color: black;
    padding: 0px 0px 0px 30px;
    margin: auto;
}
